@page {
  size: 3in 2in;
  margin: 0;
}

html,
body {
  width: 3in;
  height: 2in;
  margin: 0;
  padding: 0;
  background: #ffffff;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.print-surface {
  width: 100%;
  height: 100%;
  padding: 0.125in;
  box-sizing: border-box;
}
